pkgbase = python-fastjsonschema
	pkgdesc = Fast JSON schema validator for Python
	pkgver = 2.19.1
	pkgrel = 1
	url = https://github.com/horejsek/python-fastjsonschema
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = fastjsonschema-2.19.1.tar.gz::https://github.com/horejsek/python-fastjsonschema/archive/refs/tags/v2.19.1.tar.gz
	sha512sums = 5121ccd0585ea8a78f44ceca95f3f2b5eb769ac3529998a3e54da9535bec96f7e47f1240b0eba63f6fef2dec91fa86fc6317d9da6eb54fed29076759897a42aa
	b2sums = 47486a172ee8153a78b7c05034dd2f4539f905d639594d42e6b6888a199bcc7d1b0cfc1c5b0a96e6e8d375b74c5fecad9b883f9b94fe992edd3727d63b3d24cf

pkgname = python-fastjsonschema
